@mixin pseudo-after {
    position: relative;
        &:after {
            content: '';
            position: absolute;
            @content;
        }
}
@mixin pseudo-before {
    position: relative;
        &:before {
            content: '';
            position: absolute;
            @content;
        }
}
@mixin clear-fix {
    position: relative;
    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: "";
        clear: both;
        height: 0;
      }
}

@mixin text-stroke($color) {
    text-shadow: 
    -0   -1px 0   $color,
     0   -1px 0   $color,
    -0    1px 0   $color,
     0    1px 0   $color,
    -1px -0   0   $color,
     1px -0   0   $color,
    -1px  0   0   $color,
     1px  0   0   $color,
    -1px -1px 0   $color,
     1px -1px 0   $color,
    -1px  1px 0   $color,
     1px  1px 0   $color,
    -1px -1px 0   $color,
     1px -1px 0   $color,
    -1px  1px 0   $color,
     1px  1px 0   $color;
}