@mixin pseudo-after {
    position: relative;
        &:after {
            content: '';
            position: absolute;
            @content;
        }
}
@mixin pseudo-before {
    position: relative;
        &:before {
            content: '';
            position: absolute;
            @content;
        }
}
@mixin clear-fix {
    position: relative;
    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: "";
        clear: both;
        height: 0;
      }
}