$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$default-font: 'Verdana', sans-serif;
$default-font-size: 14px;
$default-line: 24px;

$color-pink: #fe504f;
$color-dark: #343434;
$color-white: #ffffff;
$color-gray: #afafaf;
$color-background: #464343;
$color-overlay: rgba(0, 0, 0, 0.7);