.bg-layer {
    background-color: $color-dark;
    position: absolute;
    top: 0;
    width: 1600px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    img {
        display: block;
        position: relative;
        z-index: -1;
    }
}
.bg-layer--no-dots .bg-layer__overlay{
    background-image: linear-gradient(to right, $color-overlay, $color-overlay);
}
.bg-layer__overlay {
        position: absolute;
        content: "";
        width: 100vw;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        background-image: linear-gradient(to right, $color-overlay, $color-overlay), repeating-radial-gradient(closest-corner, $color-overlay, $color-overlay 1px, transparent 1px, transparent 100%);
        background-size: 100% , 3px 3px;
        
}
.bg-layer__wrapper {
    height: 100%;
    overflow: hidden;
}