.header__container {
    padding-bottom: 300px;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        width: 100vw;
        height: 100%;
        left: 50%;
        background-color: $color-background;
        background-image:  
                            linear-gradient(to right, $color-overlay, $color-overlay), 
                            url(../img/desktop-bg-01.jpg);
        background-repeat: no-repeat;
        background-position: center,center;
        background-size: auto, auto;
        z-index: -1;
        transform: translate(-50%);
    }
}
.header__chart {
    position: absolute;
    z-index: -1;
    bottom: -1px;
    width: 100vw;
    height: 600px;
    height: 40vw;
    background-image: url(../img/desktop-chart.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    left: 50%;
    transform: translate(-50%);
}
.header__marker {
    background-color: $color-pink;
    padding: 5px 10px;
    position: absolute;
    top: 40px;
    right: 30px;
    border-radius: 3px;
    @extend .hvr-bob:hover;
    &:after {
        content: "";
        position: absolute;
        border: 10px solid transparent;
        border-left-color: $color-pink;
        right: -18px;
        top: 50%;
        transform: translateY(-50%);
    }
}
.header__nav {
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 700;
}
.header__logo {
    font-size: 32px;
    color: $color-pink;
    
    
}
.header__nav-list {
    color: $color-white;
    display: flex;
    flex-wrap: wrap;
    
    li:last-child .header__nav-item{
        margin-right: 0;
    }
}
.header__nav-item {
   margin: 0 1.5em 0;
   padding-bottom: 0.4em;
   display: block;
   
    &:active {
        opacity: 0.5;
    }
}

.header__nav-item--current {
    position: relative;
    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: $color-pink;
        bottom: 0;
        left: 50%;
        transform: translate(-50%)
    }
}

