.header {
    background-color: $color-background;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        width: 200vw;
        height: 100%;
        background-color: $color-background;
        z-index: -1;
        transform: translate(-50%);
    }
}
.header__nav {
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 700;
}
.header__logo {
    font-size: 32px;
    color: $color-pink;
    
    
}
.header__nav-list {
    color: $color-white;
    display: flex;
    flex-wrap: wrap;
    li:last-child .header__nav-item{
        padding-right: 0;
    }
}
.header__nav-item {
   margin: 0 1.5em 0;
   padding-bottom: 0.4em;
   display: block;
    &:active {
        opacity: 0.5;
    }
}

.header__nav-item--current {
    position: relative;
    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: $color-pink;
        bottom: 0;
        left: 50%;
        transform: translate(-50%)
    }
}
.header__nav-item:hover {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;

        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        background-image: repeating-radial-gradient(closest-corner, $color-background, $color-background 1px, transparent 1px, transparent 100%);
        background-size: 4px 4px;
    }
}