.offer {
    padding-top: 154px;
    width: 60%;
    color: $color-white;
    position: relative;
    p {
        font-size: $default-font-size * 1.43;
        line-height: $default-line * 1.17;
        width: 80%;
        @include text-stroke(black);
        &:last-of-type {
            margin-bottom: 38px;
        }
    }
}
.offer__title {
    font-size: $default-font-size * 4.29;
    line-height: $default-line * 3.08;
    margin: 0;
    margin-bottom: 27px;
    @include text-stroke(black);
}
.offer__link-container {
    margin-left: -14px;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: $desktop-width) {
    .offer {
        width: 90%;
        padding-top: 120px;
    }
    .offer__title {
        font-size: 5.2vw;
        line-height: 1.3em;
    }
}

@media (max-width: $tablet-width) {
    .offer {
        width: 100%;
        max-width: 400px;
        padding-top: 74px;
    }
    .offer__title {
        font-size: 23.4px;
        margin: 0 0 16px;
    }
    .offer p {
        font-size: 14px;
        width: 100%;
    }
}