.wrapper {
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
}
// @media (min-width: $tablet-width) {
// 	.wrapper {
// 		width: 92.19%;
// 	}
// }
// @media (min-width: $desktop-width) {
// 	.wrapper {
// 		width: 93.85%;
// 	}
// }