.wrapper {
	margin-left: auto;
	margin-right: auto;
	padding: 0 40px;
	max-width: 1280px;
}
// @media (min-width: $tablet-width) {
// 	.wrapper {
// 		width: 92.19%;
// 	}
// }
// @media (min-width: $desktop-width) {
// 	.wrapper {
// 		width: 93.85%;
// 	}
// }


@media (max-width: $tablet-width) {
	.wrapper {
		padding: 0 30px;
	}
}